@import '@scss/variables';

.title {
    margin-top: 7em;

    & h1 {
        font-weight: 500;
        font-size: 40px;
    }

    &-firstname {
        color: $pry-clr;
    }

    & h2 {
        font-weight: normal;
        font-size: 20px;
    }
}