.home {
    margin-left: 11em;
}

.container {
    display: flex;
}

.charts {
    display: flex;
    flex-direction: column;

    &-medium {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}
