@import '@scss/variables';

.header {
    background-color: $nav-bg;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    &-logo {
        width: 120px;
        margin: 0.5em 1.5em;
    }

    &-nav {
        color: white;
        width: 100%;
        
        & ul {
            display: flex;
            justify-content: space-around;
        }
    }
}