@import '@scss/variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $nav-bg;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    &-logo {
        width: 130px;
        margin: 0.6em 1.5em;
    }

    &-nav {
        color: white;
        width: 100%;
        font-size: 17px;

        & ul {
            display: flex;
            justify-content: space-around;
        }
    }
}