.sessions-container {
    width: 250px;
    height: 250px;
    background-color: #FF0101;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-label {
        color: white;
        opacity: 0.7;
        position: absolute;
        top: 20px;
        left: 20px;

        & p {
            margin: 0;
        }
    }
}

.custom-tooltip {
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;

    & p {
        margin: 0;
    }
}
