.radar-container {
    width: 250px;
    height: 250px;
    background-color: #282D30;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recharts-responsive-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radar-container .recharts-responsive-container .recharts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80% !important;
}